<li [ngClass]="{'list-group-item' : true,
				'list-group-item-success' : getLikes() > 0,
				'list-group-item-danger' : getLikes() < 0,
				'list-group-item-primary' : getLikes() == 0}">
	<h2>{{ getTitle() }}</h2>
	<h3>{{ getText() }}</h3>
	<h4>Created at : {{ getDate() | date: 'short' }}</h4>	

  	<button class="btn btn-success"
 	 (click)="onLike()"
 	>Love it!</button>
	
 	<button class="btn btn-danger"
 	 (click)="onDislike()"
 	>Don't Love it!</button>

 	<button class="btn btn-danger"
 	 (click)="onDelete()"
 	>Delete {{ getId() }}</button>
</li>
